<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <%- include('partials/navbar.html') %>
        <!-- Navigation -->
        <!-- Formulario -->
        <form action="/agregarproductos" method="post">
            <div class="container">
                <div class="row">

                    <div class="col mt-5">

                        <h3 size=40> Registro de productos </h3>


                        <label for="nom" class="col-form-label">Nombre del producto</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Ej. laptop"
                            aria-label="Nombre del producto" id="nom" name="nom">
                        <label for="cantidad" class="col-form-label">Cantidad</label>
                        <input class="form-control form-control-sm" type="number" placeholder="Cantidad"
                            aria-label="Cantidad" name="cantidad" id="cantidad" value=0>

                            <label for="img" class="col-form-label">Escoger la imagen</label>
                        <select class="form-select" aria-label="Default select example" id="img" name="img">
                            <option value="1">Portátil</option>
                            <option value="2">All in One </option>
                            <option value="3">Torre</option>
                        </select>


                        <div class="row mt-5 justify-content-center">
                            <input class="btn btn-outline-danger col-5" type="submit" href="/agregarproductos"
                                value="Enviar">
                        </div>
                    </div>
                </div>

            </div>
            </div>


        </form>
</body>

</html>