<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <%- include('partials/navbar.html') %>
    <form action="/" method="post">
      <div class="container mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">item</th>
              <th scope="col">imagen</th>
              <th scope="col">nombre</th>
              <th scope="col">stock</th>
              <th scope="col">cantidad</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i< Productos.length; i++) {%>
            <tr>
              <th scope="row"><%=Productos[i].Numero%></th>
              <td><img style="max-width: 7rem;" src= <%=Productos[i].Imagen%> ></td>
              <td><%=Productos[i].nombre%></td>
              <td><%=Productos[i].Cantidad%></td>
              <td> 
                <input class="form-control form-control-sm" type="number" placeholder="Cantidad" aria-label="Cantidad"
                name="cantidad" id="cantidad" <%=Productos[i].Numero%> value = 0>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <div class="row justify-content-center my-3">

          <input class="btn btn-outline-success col-4" type="submit" href="/" value="Enviar">

        </div>
      </div>


    </form>
    </div>
    <div class="col">
    </div>
    </div>
    </div>

</body>

</html>