<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/">Catalogo</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stock">Stock</a>
        </li>
        
      </ul>
      <a class="nav-link btn btn-outline-warning text-warning bg-dark" href="/agregarproductos">nuevo producto</a>
    </div>
  </div>
  
</nav>